<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Northwell</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetSDA</servlet-name>
    <servlet-class>GetSDAServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ParseData</servlet-name>
    <servlet-class>ParseDataServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetSDA</servlet-name>
    <url-pattern>/getSDA</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ParseData</servlet-name>
    <url-pattern>/parseData</url-pattern>
  </servlet-mapping>
</web-app>